-
  let infoList = [{
  label: "Почта",
  text: "pochta@yandex.ru",
  type: "email",
  name: "email",
  },{
  label: "Логин",
  text: "lalallla",
  type: "text",
  name: "login"
  },{
  label: "Имя",
  text: "Ксения",
  type: "text",
  name: "first_name"
  },{
  label: "Фамилия",
  text: "Котова",
  type: "text",
  name: "second_name"
  },{
  label: "Имя в чате",
  text: "Ксения Котова",
  type: "text",
  name: "display_name"
  },{
  label: "Телефон",
  text: "89991234567",
  type: "tel",
  name: "phone"
  }]
