.sidebar
  !=backButton
.profileContainer
  !=profileImgButton
  !=userName
  each infoBlock in infoList
    !=infoBlock
  .actionBlock
    !=changeInfo
    !=changePassword
    !=logout
  !=changeInfoForm
  !=changePasswordForm
if updateUserImg 
  !=updateUserImgModal
