.sidebar
  !=backButton
.profileContainer
  !=profileImgButton
  h1 Ксения
  each infoBlock in infoList
    !=infoBlock
  .actionBlock
    !=changeInfo
    !=changePassword
    !=logout
  !=changeInfoForm
  !=changePasswordForm
