.action{
    display: flex;
    width: 440px;
    justify-content: space-between;
    border-bottom: 1.5px solid #A894F9;

    button{
        all:unset;
        cursor: pointer;
    }

    p {
        margin: 10px 0;

        &.changeButton{
            color: #3369F3;
        }

        &.logoutButton{
            color: #FF0000;
        }
    }
}