.infoBlock {
  display: flex;
  width: 440px;
  justify-content: space-between;
  border-bottom: 1.5px solid #a894f9;
  pointer-events: none;

  p {
    margin: 10px 0;

    &.text {
      color: #999;
    }
  }
}
