nav
  ul
    li
      a.link(href="src/pages/auth/index.html") Авторизация
    li
      a.link(href="src/pages/profile/index.html") Профиль
    li
      a.link(href="src/pages/chat/index.html") Чат (заглушка)
    li
      a.link(href="src/pages/500/index.html") 500 ошибка
    li
      a.link(href="src/pages/404/index.html") 404 ошибка
