@import "src/pages/auth/styles.less";
@import "src/components/input/styles.less";
@import "src/components/button/styles.less";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  font-size: large;
  font-weight: bold;
}
